$bg_radial: radial-gradient(circle farthest-side, #b7b9b6, #3f3f3e);
$colorOrangeYellow: #e9b31f;
$colorOrange: #ffa500;
$colorTitle: #333;
$colorBottom: #b7b9b6;
$colorAside: #ff7200;
$colorBlack: #000;
