@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");

$font-size-lg: 1.3em;
$font-size-sm: 1.8em;
$font-familyFell: "IM Fell English SC", serif;
$font-familyPoppins: "Poppins", sans-serif;
$font-familyRoboto: "Roboto", sans-serif;

$fontWeightBold: bold;
$fontWeightNormal: normal;
